body{
    margin: 0;
    padding: 0;
    background: #FAF3DD;
    color: #1F375A;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    height: 100px;
    background-color: #cccccc;
    background-image: url(../img/background.jpg);
    font-size: 45px;
    color:#FAF3DD;
}
footer{ 
   background-color: #FE5F55;
   color: #FAF3DD; 
   font-size: 20px;  
}
ul{
    list-style-type: none;
}
li img{
    width: 30px;
    height: 40px;
}
li a{
    text-decoration: none;
    color: #FAF3DD;
}
h5 a{
    color: #1F375A;
    text-decoration: underline;
}
a:hover{
    color: #F0E130;
}
.project-btn{
    background-color: #AC3B61;
    color:#1F375A;
}
.project-cards{
    width: 18rem;
    height: 18rem;
}