body{
    margin: 0;
    padding: 0;
    background: #FAF3DD;
    color: #3D6581;
}
.container, .about-me {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}
.container h1{
    font-size: 35px;
}
.about-me h3,h4{
    font-size: 25px;
}
.work-experience{
   font-family: Arial, Helvetica, sans-serif; 
}
.contact-footer{
    background: none;
}